.header{
    display:flex;
    flex-direction:row;
    position:fixed;
  }
  body{
    height:0px;
    width:0px;
    padding:0px;
    margin:0px;
    position:fixed;
  }
  
  .nav-bar{
    position:fixed;
  }
  
  @media screen and (min-width: 720px){
    header{
    display:flex;
    flex-direction:column;
    
  }
  .body{
    height:0px;
    width:0px;
    padding:0px;
    margin:0px;
  }
  
  }